.text-section{
    column-gap: 97px;
    margin: 160px auto;
}

.text-section-text{
    flex: 1;
} 

.text-section-text h2{
    font-size: 50px;
}

.text-section-text p{
    font-size: 25px;
}

@media (max-width: 768px) {
    .text-section{
        flex-direction: column;
    }
}

