@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body{
  margin: 0;
  min-height: 100vh;
  font-family: "jost", sans-serif;
  font-weight: 400;
  color: #292f36;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

/* --- Main Color --- */
.primary-background{
  color: #0C70F2;
}

.primary-color{
  color: #0C70F2;
}

.secundary-background{
  color: #1D1D1D;
}

.secundary-color{
  color: #1D1D1D;
}

.tertiary-background{
  color: #F6F6F6;
}

.tertiary-color{
  color: #F6F6F6;
}

.grey-1-color{
  color: rgba(77, 80, 83, 1);
}
/* --- FORM --- */
.form-input{
  border: none;
  border-bottom: 1px solid #292f36;
  color: #292f36;
  font-size: 22px;
  font-family: "jost", sans-serif;
  padding: 0 0 13px 0;
  outline: none;
  width: 100%;
}

.form-input::placeholder{
  color: #292f36;
  opacity: 1;
}

/* --- TYPOGRAPHY --- */
h1, h2, h3, h4, h5, h6{
  font-family: "DM Serif Display", serif;
  font-size: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 2.5px;
}

p{
  line-height: 150%;
}

.txt-center{
  text-align: center;
}


/* --- Grid --- */

.container{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
  justify-content: space-between;
}


.al-end{
  text-align: flex-end;
}

.d-flex{
  display: flex;
}

.fd-column{
  flex-direction: column;
}

.jc-center{
  justify-content: center;
}

.jc-end{
  justify-content: end;
}

.jc-space-between {
  justify-content: space-between;
}

.ai-end {
  align-items: flex-end;
}



@media (max-width: 768px){
  .container{
    width: 90%;;
  }

  .mobile-fd-column{
    flex-direction: column;
  }
  
}


